.Home .lander {
  padding-top: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
  
}

.Home .lander p {
  padding-bottom: 100px;
  color: white;
}

.Home {
	padding-bottom: 70px;
	background-image: url(template.jpg);
	
	background-repeat: no-repeat;
	background-position: center;
}
